html, body, h1 {
    margin: 0;
}

.Header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 60px;
}

.globe-icon {
    margin-right: 7px;
}

.Header h1 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.Card {
    display: flex;
}

.main-img-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;
}

.Card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}